.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 2px red inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0);
}
.bounding-box:hover{
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, .4);
}